.card {
    box-shadow: 0 4px 8px 0 white;
    transition: 0.3s;
    width: 30%;
    height: 30%;
    margin: 10px;
    border-radius: 5px;
}
  
  /* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 white;
    scale: 1.1;
    opacity: 0.5;
}
  
  /* Add some padding inside the card container */
.container {
    padding: 2px 16px;
    background-color: white;
    border: 10px solid green;
    border-radius: 5px;
}

.card-body {
    padding: 0;
    background-color: pink;
} 